<h1>{{title}}</h1>
<div class="food-cards">
    {{#each foods}}
    <div class="food-card">
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
        <p>Ingredients</p>
        <ul>
            {{#each this.ingredients}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>How to make?</p>
        <ol>
            {{#each this.how_to_make}}
            {{#if @first}}
            {{else}}
            {{/if}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
        <p>Type of Food: {{this.type_of_food}}</p>
        <p>Nationality: {{this.nationality}}</p>
        <img src="{{this.imageUrl}}" alt="{{this.name}}">
    </div>
    {{/each}}
</div>

