<h1>Search Results</h1>

{{#if foods.length}}

<div class="food-cards">
    {{#each foods}}
    <a href="/food/{{this._id}}" class="food-card-link">
        <div class="food-card">
            <div class="card-img">
                <img src="{{this.imageUrl}}" alt="{{this.name}}" style="max-width: 400px; max-height: 400px;">
            </div>
            </div>
            <div class="card-content">
                <h2>{{this.name}}</h2>
                <p>{{this.description}}</p>
            </div>
        </div>
    </a>
    {{/each}}
</div>

{{else}}
  <p>No results found.</p>
{{/if}}

