<!-- updateFood.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Food</title>
</head>
<body>
    <h1>Update Food Item</h1>
    <form action="/update/{{ this._id }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ this.name }}" required><br>
        
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{ this.description }}" required><br>
        
        <label for="ingredients">Ingredients:</label>
        <textarea id="ingredients" name="ingredients" rows="4" cols="50" required>{{ this.ingredients }}</textarea><br>
        
        <label for="how_to_make">How to Make:</label>
        <textarea id="how_to_make" name="how_to_make" rows="4" cols="50" required>{{ food.how_to_make }}</textarea><br>
        
        <label for="type_of_food">Type of Food:</label>
        <input type="text" id="type_of_food" name="type_of_food" value="{{ this.type_of_food }}" required><br>
        
        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" value="{{ this.nationality }}" required><br>
        
        <button type="submit">Update Food</button>
    </form>
</body>
</html>
