<h1 class="title text-center mt-5">{{title}}</h1>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {{#each foods}}
        <div class="col">
            <a href="/food/{{this._id}}" class="food-card-link">
                <div class="card h-100 shadow">
                    <img src="{{this.imageUrl}}" class="card-img-top" alt="{{this.name}}">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{this.name}}</strong></h5>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="footer-content">
                            <small class="text-muted average-rating">{{toFixed this.averageRating 2}} ★★★★★</small>
                            <small class="text-muted meal-type">{{this.mealType}}</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>