<h1>{{ food.name }}</h1>

<div class="food-details">
    <div class="food-detail">
        <h2>Description</h2>
        <p>{{ food.description }}</p>
    </div>
    <div class="food-detail">
        <h2>Ingredients</h2>
        <ul>
            {{#each food.ingredients}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
    </div>
    <div class="food-detail">
        <h2>How to Make</h2>
        <ol>
            {{#each food.how_to_make}}
            <li>{{ this }}</li>
            {{/each}}
        </ol>
    </div>
    <div class="food-detail">
        <h2>Type of Food</h2>
        <p>{{ food.type_of_food }}</p>
    </div>
    <div class="food-detail">
        <h2>Nationality</h2>
        <p>{{ food.nationality }}</p>
    </div>
    <div class="food-detail">
        <h2>Picture</h2>
        <img src="/assets/images/{{ food.picture }}.png" alt="{{ food.name }}" style="max-width: 400px; max-height: 400px;">
    </div>
</div>
<!-- Update Button -->
<form action="/food/edit/{{food._id}}" method="get">
    <button type="submit">Edit</button>
</form>

<!-- Delete Button -->
<form action="/food/delete/{{food._id}}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
</form>